<div class="container">
    <h2 class="mt-5">NEW PRODUCT</h2>
    <br>
    <form [formGroup]="newProductForm" (ngSubmit)="createProduct()">
        <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="Name what you are selling...">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput type="textarea" formControlName="description" placeholder="Add a little description...">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput type="number" formControlName="price" placeholder="€">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput type="text" formControlName="brand" placeholder="Brand...">
        </mat-form-field><br>
        <!--select if new product is used or not-->
        <mat-radio-group (change)="usedProductFunction($event)" name="used">
            is it new?<br>
            <mat-radio-button value="true">true</mat-radio-button>
            <mat-radio-button value="false">false</mat-radio-button>
        </mat-radio-group>
        <!--only shows if product used condition is true-->
        <div formGroupName="condition"> <!--on condition change error!-->
            <textarea *ngIf="newProductForm.value.condition.used" type="textarea" class="form-control"
                formControlName="conditionDescription" placeholder="Describe it's condition..."></textarea><br>
        </div>
        <button type="submit">Sell</button>
        <br>
    </form>
    <button routerLink="/">Cancel</button>
</div>