<div class="container">
    <h2 class="mt-5">NEW PRODUCT</h2>
    <br>
    <form [formGroup]="newProductForm" (ngSubmit)="createProduct()">
        <mat-form-field>
            <input matInput placeholder="Input" type="text" formControlName="title"
                placeholder="Name what you are selling...">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput type="textarea" formControlName="description" placeholder="Add a little description...">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput type="number" formControlName="price" placeholder="€">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput type="text" formControlName="brand" placeholder="Brand...">
        </mat-form-field><br>
        <!--used or not and description if true-->
        <div formGroupName="condition">
            <div>
                <p>the product is used</p>
                    <mat-radio-button (ngModel)="used" [value]="false">New</mat-radio-button>
                    <mat-radio-button (ngModel)="used" [value]="true">Used</mat-radio-button>
                <br>
            </div>
            <textarea *ngIf="used == true" type="textarea" class="form-control" formControlName="conditionDescription"
                placeholder="Describe it's condition..."></textarea><br>
        </div>
        <button type="submit" class="btn btn-outline-success btn-lg">Sell</button>
        <br>
    </form>
    <button routerLink="/" class="btn btn-outline-danger btn-lg">Cancel</button>
</div>