<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{ authService.userData.email }}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="Your orders">
        <app-product-table 
        [noProductsMessage]="'You dont have any products'" 
        [products$]="userPurchasedProducts$">
        </app-product-table>
    </mat-tab>
    <mat-tab label="Account info"> {{ authService.userData.email}} <br>
        {{ authService.userData.userName }} {{ authService.userData.lastName}}<br>
        {{ authService.userData.uid}}
    </mat-tab>
</mat-tab-group>