<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Buy product</span>
    </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="product">
    <div [class.sold]="product.sold">
        {{ product.title }}
        {{ product.description }}
        {{ product.brand }}
        {{ product.id }}
    </div>
    <button (click)="buyProduct()" *ngIf="!product.sold" [routerLink]="'/buy-product'">Buy product</button>
    <h1 *ngIf="product.buyerId == userID;else anotherUser">You bought this product {{product.soldDate | date: 'yyyy-MM-dd'}}</h1>
    <ng-template *ngIf="product.sold" #anotherUser>This product is sold</ng-template>
</ng-container>
// @todo if | date: 'yyyy-MM-dd' doesn't work keep trying with timestampt service