<mat-toolbar color="primary">
  <mat-nav-list class="list-horizontal">
      <mat-list-item routerLink="/home" routerLinkActive="active">
        <a>Home</a>
      </mat-list-item>
      <mat-list-item routerLink="/buy-product" routerLinkActive="active">
        <a>Shop</a>
      </mat-list-item>
    <mat-list-item routerLink="/new-product" routerLinkActive="active">
      <a>Sell</a>
    </mat-list-item>
    <mat-list-item routerLink="/account" routerLinkActive="active">
      <a>Account</a>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>