<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sell product</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- content labels first ->add product second ->see your products -->
<mat-tab-group>
  <mat-tab label="Sell new product">
    <br><br>
    <!--add new product form-->
    <div class="formContainer">
      <mat-card class="formContainerTitle">Create product</mat-card>
      <form [formGroup]="newProductForm" (ngSubmit)="saveForm()">
        <br>
        <mat-form-field class="inputTitle center" color="accent">
          <input
            matInput autofocus formControlName="title"
            placeholder="Start by naming what you are selling"
          >
          <mat-error
            *ngIf="title.invalid && (title.dirty || title.touched)"
            class="alert alert-danger"
          >
            <mat-error *ngIf="title.errors.required">
              Title is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="title.errors.minlength">
              Title is too <strong>short.</strong>
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="center" color="accent">
          <mat-label>Add a little description</mat-label>
          <textarea
            matInput formControlName="description" cdkTextareaAutosize
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"
          ></textarea>
          <mat-error
            *ngIf="description.invalid && (description.dirty || description.touched)"
            class="alert alert-danger"
          >
            <mat-error *ngIf="description.errors.required">
              Description is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="description.errors.minlength">
              Description is too <strong>short.</strong>
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field color="accent" class="center">
          <input matInput formControlName="brand" placeholder="Brand">
          <mat-error
            *ngIf="brand.invalid && (brand.dirty || brand.touched)"
            class="alert alert-danger"
          >
            <mat-error *ngIf="brand.errors.required">
              Brand is <strong>required.</strong>
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field color="accent" class="center" style="font-size: 2em; width: 20%;">
          <input matInput type="number" formControlName="price">
          <span matSuffix>€&nbsp;</span>
          <mat-error
            *ngIf="price.invalid && (price.dirty || price.touched)"
            class="alert alert-danger"
          >
            <mat-error *ngIf="price.errors.required">
              Price is <strong>required.</strong>
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <!--select if new product is used or not-->
        <ng-container formGroupName="condition">
          <mat-radio-group class="center" (change)="usedProductToggle($event)" formControlName="used">
            <mat-radio-button [value]="false" checked="checked" color="accent">new</mat-radio-button>&nbsp;
            <mat-radio-button [value]="true" color="accent">used</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="center" color="accent">
            <mat-label>Describe it's condition if it's used</mat-label>
            <textarea
              matInput formControlName="description" cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea><br>
            <mat-error
              *ngIf="conditionDescription.invalid && (conditionDescription.dirty || conditionDescription.touched)"
              class="alert alert-danger"
            >
              <mat-error *ngIf="conditionDescription.errors.required">
                Condition description is <strong>required.</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </ng-container>
        <br>
        <input type="file" (change)="onImageSelect($event.target.files[0])">
        <br>
        <button [disabled]="!newProductForm.valid" type="submit" mat-raised-button color="accent">
          Sell
        </button>&nbsp;
        <button routerLink="/" mat-raised-button color="warn">Cancel</button>
        <br>
      </form>
    </div>
    <br>
  </mat-tab>
  <!----------------------------------------------->
  <mat-tab label="Your products">
    <div class="content">

      <h2 class="center">Selling</h2>
      <app-product-table
        [noProductsMessage]="message.notSelling"
        [products$]="sellingProducts$"
      >
      </app-product-table>

      <br>
      <br>
      <h2 class="center">Sold</h2>
      <app-product-table
        [coloring]="true"
        [noProductsMessage]="message.notSold"
        [products$]="soldProducts$"
      >
      </app-product-table>
    </div>
  </mat-tab>
</mat-tab-group>
